.loader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.loading{
    position: absolute;
    background-color: var(--main-color);
    height: 20%;
    width: 15px;
    border-radius: 10px;
    animation-name: loading;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.loading:nth-child(1){
    height: 10%;
    margin-left:-120px;
    animation-delay: 0.2s;
}
.loading:nth-child(2){
    margin-left:-60px;
    animation-delay: 0.4s;
}
.loading:nth-child(3){
    margin-left:0px;
    animation-delay: 0.6s;
}
.loading:nth-child(4){
    margin-left:60px;
    animation-delay: 0.8s;
}
.loading:nth-child(5){
    height: 10%;
    margin-left:120px;
    animation-delay: 1s;
}

@keyframes loading{
    0%{transform: scaleY(1);}
    50%{transform: scaleY(1.5);}
    100%{transform: scaleY(1);}
}
