*{margin: 0; padding: 0;}




.cabecalho{
    background: rgb(10, 113, 197);
    /*padding: 0px 20px 0px 20px;*/
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: -webkit-fill-available;
    
    position: fixed;
    top: 0;
    left: 0;
    
    font-family: 'Mouse Memoirs';

    width: 10%;
    
}

.conteudo_site, .social{
    margin: 20px auto;
    list-style: none;
    text-align: center;
    
}

.nav-mobile{
    display: none;
}
.nav-mobile li{
    list-style: none;
}

#menu_mobile{
    color: #ffffff;
}

.conteudo_site a, .social a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;

}

.conteudo_site a:hover, .social a:hover{
    color:goldenrod;

}

.dropdown{
    display: none;

}

@media screen and (max-width: 750px){
    .conteudo_site, .social{
        display: inline;
    }
    .cabecalho{
        height: auto;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }
    .nav-site{
        display: none;
    }
    .nav-mobile{
        display: inline;
    }
    
    .nav-social{
        margin: 10px 50px;
    
    }
    .social a{
        padding: 0 10px;
    }
    .dropup:hover ul{
        display: grid;
        position: fixed;
        background: rgb(10, 113, 197);
        padding: 0 10px;
    }
    /*
    .display: grid;
    position: fixed;
    background: #000;
    */
    
}